extends ../../templates/base.pug

mixin member(name, wing, role)
  .member
    - const imageName = name.toLowerCase().replace(/ /g,"_").replace("/", "_")
    img(src=`${baseUrl}/static/images/about/mc/individual/${imageName}.jpg`, alt="")
    .description
      h1 #{name}
      h2 #{wing}
      h3 #{role}

block head
  link(rel="stylesheet", href=`${baseUrl}/static/css/about/mc.css`)

block main
  .banner
    img(src=`${baseUrl}/static/images/about/mc/group/all.jpg`, alt="")
  .heading
    h1 22nd Management Committee
    p.
      We organize various events for our members to brighten their school life, help them along with
      school and provide opportunities to explore other academic and non-academic related interests. 
      We are here as a club for students by students to listen to what our members want and put it into
      action.
  .container-wings
    .wing
      img(src=`${baseUrl}/static/images/about/mc/group/presidential_wing.jpg`, alt="")
      .description
        h1 Presidential Wing
        p.
            The Presidential Wing, which consist of the President, the Vice-Presidents, the Secretariat Cell, the Finance Cell, and the IT Cell, takes charge of the general administration and support of the club. They provide guidance and aid to the operational cells in their respective fields, and frequently undertake actions that affect the entire club.
        h2 Presidential Cell
        p.
            The President, together with the Vice-Presidents, make top level decisions which concern the club, ensure the smooth execution of events, and provide guidance to the various cells. They also represent the club in the NUSSU Council, meetings with the School and University, and at official events. The Presidential Cell acts as the voice for the club and its members and safeguards their interests.
        h2 Secretariat Cell
        p.
            The Secretariat Cell takes charge of the overall administration of the club to ensure a smooth day-to-day running of the club. This includes coordinating general meetings and enforcing that discipline within the club is upheld in accordance with the club’s Rules and Regulations. The Secretariat Cell also shoulders the responsibility of information management, the weekly email blasts, maintenance of the lockers in NUS School of Computing, and the welfare of the club’s Management Committee members.
        h2 Finance Cell
        p. 
            The Finance Cell handles all matters pertaining to Finance and Expenses in the club. This includes Budget Allocation for the club as well as the approval of all purchases made within the club. The Finance Cell has to also work closely with School of Computing’s Student Life Office and NUS Office of Financial Services to ensure that all transactions follow the proper financial guidelines and procedures, and are smoothly processed. The Finance Cell serves to provide financial advice to all other cells of NUS Computing Club, assisting them in finance matters pertaining to their cells.
        h2 Information Technology Cell
        p. 
            The Information Technology (IT) Cell oversees the IT infrastructure of the club. This includes the club’s official website, the Freshmen Orientation Programme (FOP) webpage, and various ad hoc projects such as the creation of Telegram Bots to cater to orientation camps score keeping needs. Furthermore, the IT Cell upholds the responsibility of determining the optimal hosting servers, ensuring the theme of the club’s various IT infrastructures uphold the club’s image while keeping them user friendly, informative, and up-to-date.
    .wing
      img(src=`${baseUrl}/static/images/about/mc/group/student_life.jpg`, alt="")
      .description
        h1 Student Life
        p.
            Student Life Wing consists of two cells: Freshmen Orientation Projects (FOP) and Student Relations. Student Life is here to support your school life in various aspects such as integration into the SoC community, and forging friendships within SoC. Student Life is here to enrich your school life outside of just academics.
        h2 Freshmen Orientation Project Cell
        p.
            The FOP cell oversees the planning and execution of the various orientation projects: Freshmen Social Camp (FSC), Freshmen Orientation Week (FOW), RAG and BASH. Through these projects, FOP cell aims to create a fun and memorable experience for all our freshmen as they commence their journey in the School of Computing. Additionally, these projects serve as a platform for forging long-lasting friendships for all freshmen and seniors involved. 
        h2 Student Relations Cell
        p.
            The Student Relations cell is about creating a second home for the students of computing. Our main purpose is to plan events to create opportunities for students to make new friends within the faculty as well as connect students with computing club itself. Students can look for us if they have any concerns in regards to the School of Computing through social media. Ultimately, student relations is here to make students feel warmth and welcome. We believe that every single person in the School of Computing is important and plays a major role in making a home for themselves.
    .wing
      img(src=`${baseUrl}/static/images/about/mc/group/student_development.jpg`, alt="")
      .description
        h1 Student Development
        p.
            The Student Development Wing is a holistic composition of the Academic Liaison and the Community Service Cell. The main purpose of this wing is to help provide a platform for students to partake in academic-related events, and to contribute back to the society whole-heartedly. 
        h2 Academic Liaison Cell
        p.
            The Academic Liaison cell aims to promote learning interests and facilitate the academic pursuits of the members of the Club. It also functions as a bridge between the student population and the school with regards to academic matters. The Academic Liaison cell plans activities such as Mock Practical Examinations, Winter Workshops, Academic Day, Career Launchpad, and Hackathons to ensure our members have enough resources to learn better.
        h2 Community Service Cell
        p. 
            The Community Service cell aims to promote a culture of giving among computing students by providing a platform for computing students to contribute. This cell oversees the planning and execution of Flag Day, Fund-Raising, Elderly and Children Community Projects, and Code for Community services. This year, we aim to impart mainly technological knowledge to the community while providing necessary needs to them.
    .wing
      img(src=`${baseUrl}/static/images/about/mc/group/external_relations.jpg`, alt="")
      .description
        h1 External Relations
        p.
            The External Wing comprises the Marketing and Publicity Cells of the Computing Club. At the current global Computing/IT landscape, we look at interconnecting our students within NUS and across various external organisations. We envision to build a brand-new SoC identity and foster students' pride of being in SoC. Together, we support the club through raising awareness of all Computing Club events through various publicity channels and act as a communication channel between the sponsors and the Club. In addition, we are the creative minds behind the designs of all Computing merchandise.
        h2 Publicity Cell
        p.
            The Publicity Cell acts as a support cell for the other cells and is responsible for branding, image and outreach of our club. The cell curates content to publicise events organised by our club and provides photography and videography services for event coverage. The cell is also responsible for the club’s social media presence. 
        h2 Marketing Cell
        p.
            The Marketing Cell supports the other cells by providing the finance required to run large events such as the Exam Welfare Pack Giveaways and the Freshmen Orientation Projects. To do so, the cell spearheads fundraising efforts by conducting fundraising sales regularly with a wide range of merchandise and actively sources for sponsorship, building rapport with our sponsors to maintain and sustain long term partnerships.
    .wing
      img(src=`${baseUrl}/static/images/about/mc/group/internal_wing.jpg`, alt="")
      .description
        h1 Internal Relations
        p.
            The Internal Relations Wing comprises the Sports Cell and the Welfare Cell. Together, they focus on taking care of the well-being of the students through various sporting and welfare events, providing reprieve to the students’ otherwise hectic and stressful University lives. 
        h2 Sports Cell
        p.
            The Sports Cell manages all activities related to sports in Computing Club. This includes the organisation of the two main events such as the SoC Night Cycling and the SoC Sports Carnival. We also work closely with NUS Students’ Sports Club to coordinate the yearly Inter-Faculty Games and provide welfare for our players. The Sports Cell values the holistic development of Computing students. We aim to foster camaraderie within the Computing community and provide a platform for people of similar interests to come together through sports.
        h2 Welfare Cell
        p.
            The Welfare Cell aims to promote the mental well-being of the students by providing avenues to have fun, bond, and relax. Some of these events include Movie Night and the self-initiated Mid-Term Welfare Pack Giveaway. They are also in-charge of the iconic Exam Welfare Pack Giveaway every semester.

  .heading
    h1 Our Team
  .container-members
    +member("Sherman Dang Xi Heng", "Presidential Wing", "President")
    +member("Kang Su Min", "Student Life", "Vice President")
    +member("Lim Yap Kai", "Student Development", "Vice President")
    +member("Jed Lee Woon Kiat", "External Relations", "Vice President")
    +member("Neil Gupta", "Internal Relations", "Vice President")
    +member("He Xinyue", "Presidential Wing", "General Secretary")
    +member("Natasha Ong Siying", "Presidential Wing", "Assistant General Secretary")
    +member("Darius Oh Chunguan", "Presidential Wing", "Finance Secretary")
    +member("Roy Chan Chuan Zhi", "Presidential Wing", "Assistant Finance Secretary")
    +member("Lee Yiyuan", "Presidential Wing", "IT Secretary")
    +member("Zhang Jian", "Presidential Wing", "Assistant IT Secretary")
    +member("Vinod s/o Jaya Kumar", "Student Life", "Director of Freshmen Orientation Projects")
    +member("Tricia Lee Hui Min", "Student Life", "Deputy Director of Freshmen Orientation Projects")
    +member("Chew Hoa Shen", "Student Life", "Director of Student Relations")
    +member("Anthony Xavier Poh", "Student Life", "Deputy Director of Student Relations")
    +member("Ang Jia Hui", "Student Development", "Director of Academic Liaison")
    +member("Kymie Chia Jia-Xi", "Student Development", "Deputy Director of Academic Liaison")
    +member("Benedict Pak", "Student Development", "Director of Community Service")
    +member("Vevek Selvam", "Student Development", "Deputy Director of Community Service")
    +member("Park Kwang Joo", "External Relations", "Director of Publicity")
    +member("Foo Hee Yuan", "External Relations", "Deputy Director of Publicity (Photography and Videography)")
    +member("Yeoh Hui Qing", "External Relations", "Deputy Director of Publicity (Graphic and Content)")
    +member("Rachel Low", "External Relations", "Director of Marketing")
    +member("Ho Chinn Fang", "External Relations", "Deputy Director of Marketing (Sponsorship)")
    +member("Joanna Ng Rui Wen", "External Relations", "Deputy Director of Marketing (Merchandise)")
    +member("Gene Chua", "Internal Relations", "Director of Welfare")
    +member("Lim Jia Yi", "Internal Relations", "Deputy Director of Welfare")
    +member("Terry Tan Jun Wei", "Internal Relations", "Director of Sports")
    +member("Sidney Chong", "Internal Relations", "Deputy Director of Sports")

